/**
 * Basic global styles for emailCat
 */

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #b3d6ff;
  color: #333333;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

form {
  background: #d7d7d7;
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  border: 5px solid #a7a7a7;
}

input[type=submit] {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #333333;
  background-color: #77B0CC;
  border: 3px solid #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color .25s;
}

input[type=submit]:hover {
  background-color: #b3d6ff;
  transition: background-color .25s;
}

.messages {
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.messages ul {
  margin: 0;
}

.success {
  color: #4f8a10;
  background-color: #bde5f8;
  border: 5px solid #4f8a10;
}

.failure {
  color: #d8000c;
  background-color: #ffbaba;
  border: 5px solid #d8000c;
}